
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Estilo para el título principal fuera del div */

.titulo-principal {
   text-align: center;
   font-size: 2.2rem;
   color: #1f2020;
   margin-top: 32px;
   margin-bottom: 16px;
   font-family: 'Montserrat', Arial, sans-serif;
   letter-spacing: 1px;
}

body {
   background: linear-gradient(135deg, #4a4c4e 0%, #f4f6f8 100%);
   font-family: 'Montserrat', Arial, sans-serif;
   margin: 0;
   padding: 0;
}

.perfil-conta {
   max-width: 1000px;
   margin: 40px auto;
   background: #ffffffcc;
   border-radius: 40px;
   box-shadow: 0 4px 24px rgb(25, 118, 210, 0, 08);
   padding: 32px 24px;
   text-align: center;
}

.image {
   width: 180px;
   height: 180px;
   object-fit: cover;
   border-radius: 50%;
   border: 4px solid #29a97a;
   margin-bottom: 40px;
}

h1 {
   font-size: 2rem;
   color: black;
   margin: 0 0 8px 0;
}

h2 {
   font-size: 1.2rem;
   color: #343434;
   margin-bottom: 14px;
}

.perfil-infor {
   margin-bottom: 20px;
}

.decri {
   background:#605d5d;
}

.pefil-infor-ul {
   list-style: none;
   padding-left: 0;
   margin: 0;
}

.perfil-infor-li {
   margin: 8px 0;
   color: #343434;
}

h3 {
   margin-bottom: 8px;
   color: #343434;
}

.detalles {
   padding-top: 1.5rem;
}

.perfil-redes {
   text-align: center;
   margin-top: 24px;
}

.social-a {
   display: inline-block;
   margin: 0 4px;
   transition: transform 0.2s, box-shadow 0.2s;
}

.social-a:hover {
   transform: scale(1.15);
   box-shadow: 0 2px 8px rgba(215, 13, 13, 0.909);
}

.pefil-ima {
   width: 40px;
   height: 40px;
   border-radius: 40px;
   background: black;
   padding: 6px;
   box-shadow: 0 2px 8px rgba(21, 20, 20, 0.915);
}

.social-a:hover .pefil-ima {
   background: #131313;
}